extends layout

block content
  .row
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.header
      h1 #{pageHeader.title}
      h4 #{pageHeader.strapline}
  .row
    .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3
      form(method='GET', action='', role='form')
        input.name-input.form-control(type='text', name='name', placeholder='Search for a spell...')
  .row
    .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1
      if response
        ul.nav.nav-tabs
          each spell, index in response
            if index === 0
              li.active
                a(data-toggle='tab', href='#' + spell._id) #{spell.rulebook_name}
            else
              li(class=)
                a(data-toggle='tab', href='#' + spell._id) #{spell.rulebook_name}
        .tab-content
          each spell in response
            div(id=spell._id).tab-pane.fade.in.active
              textarea.macro-display.form-control(readonly="true", autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false") 
                | #{spell._id}
      else
        